@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body {
    background: linear-gradient(
        135deg,
        rgba(143, 36, 237, 1) 20%,
        rgba(143, 36, 237, 1) 20%,
        rgba(143, 36, 237, 1) 22%,
        rgba(143, 36, 237, 1) 25%,
        rgba(16, 124, 179, 1) 100%
      );
    /* background-image: url("forest.jpg"); */
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: 'Ubuntu', monospace;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Ubuntu', monospace;
    color: #ffffff;
    margin-bottom: .25em;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #272727;
    border: solid 0px #272727;
    font-family: 'Ubuntu', monospace;
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: #272727;
    padding: 1em;
    border-radius: 3px;
    font-family: 'Ubuntu', monospace;
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #272727;
    border-radius: 3px;
    font-family: 'Ubuntu', monospace;
    font-size: .85rem;
    width: 25%;
    height: 10em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}






html {
  font-family: Helvetica Neue;
  font-size:12px;
  background: linear-gradient(tomato, crimson);
  color:white;
  box-sizing:border-box;
}
 body {
   margin: 0;
   font-size: 2rem;
   display:flex;
   flex:1;
   min-height: 100vh;
   align-items: center;
}
.clock {
  z-index: 11;
  width: 30rem;
  height: 30rem;
  border:4px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px #333,
    0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); 
}

.hand {
  width:45%;
  height:6px;
  background:white;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  &.sec {
    height:2px;
  }
  &.hour {
    width: 30%;
    left: 21%;
    top:49%;
  }
}

.time {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    font-size: 25vw;
    opacity: .1;
    z-index: 10;
    font-weight:900;
    @media screen and (max-width: 991px) { 
     
    }
}