<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv='content-type' content='text/html' charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <link href='https://fonts.googleapis.com/css?family=Muli|Ubuntu' rel='stylesheet'>

	<script src='/static/jquery.min.js' charset='utf-8' type='text/javascript'></script>
	<!-- <script src='/static/links.json' type='application/json'></script> -->
	<script src='/static/index.js' charset='utf-8' type='text/javascript'></script>
	<link href='/static/index.css' rel='stylesheet' />

        <title>~</title>
    </head>

    <body onload='time.start()'>

        <main id='module'>
            <div id='toolbar'>
                <span id='left'>
                    <p id='time'></p>
                </span>

                <span id='center'><p id='quick-result'></p></span>

                <span id='right'>
                    <p id='mailto' onclick='compose();'>Compose E-Mail</p>
                    <i id='cog' onclick='$("#list-settings").toggle();'>&#9881;</i>
                </span>
            </div>

            <div id='search-area'>
                <kbd id='search-prefix'  contentEditable='true'>»</kbd>
                <input id='search-input' type='text' placeholder='search' autofocus='autofocus' />
                <!-- onkeypress='return search(event)'' -->
            </div>

            <div id='box-area'>
                <!--<div id='mailbox'>
                    <input id='mail-subject' type='text' placeholder='subject' />
                    <textarea name='mail-input' placeholder='mail body' id='mail-input'></textarea>
                </div>-->
                <ol id='list-settings'>
                    <a href='javascript:void(0);' class='list-header'>Settings</a>
                    <!-- <a href='javascript:void(0);'>Option 1</a> -->
                    <li class='list-item'>
                        <input class='setting' type='text' placeholder='https://duckduckgo.com/?q=' autofocus='autofocus' />
                    </li>
                </ol>
            </div>
        </main>

    </body>
</html>
