/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */

:root {
	--bgcolor: #222222;

	--searchBackground: rgba(50, 50, 50, 0.7);
	--searchHeader: #FFF;
	--searchText: #BBB;
}

html, body {
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--bgcolor);
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	align-content: center;
	overflow: hidden;
}
p, a, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

main {
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#time {
	position: relative;
	margin-left: 0;
	font-size: 48px;
	color: #FFF;
	transition: 1s;
}

section {
	padding: 0;
	margin: 0;
	width: 1100px;
	height: 300px;
	background-color: #333333;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
}

ul {
	width: 250px;
	height: 93%;
	border: 2px solid #44444466;
	list-style: none;
	overflow: hidden;
	padding-left: 5px;
	margin-top: 15px;
	transition: .2s;
}

section li {
	padding: 0;
	margin: 0;
	left: 0;
	margin-top: 5px;
	margin-left: 10px;
	text-align: left;
	font-size: 18px;

	position: relative;

	color: #f4f4f4;
}

li a:link, li a:visited {
	color: #f4f4f4;
	text-decoration: none;
}

li a:hover::before {
	content:'>';
	position: absolute;
	cursor: pointer;
	left: -15px;
	transition: .5s;
}

#settingsPanel {
	width: 98%;
	height: 0;
	top: 7px;
	position: absolute;
	border: 2px solid #44444466;
	list-style: none;
	overflow: hidden;
	padding-top: 5px;
	padding-left: 5px;
	visibility: hidden;
	transition: .1s;
}

#cog {
	position: relative;
	height: 10px;
	width: 40px;
	border-radius: 0 0 90px 90px;
	background: gray;
	transition: .2s;
}
#cog:hover {
	height:20px;
	width:40px;
	cursor: pointer;
	border-color: white;
	border-radius: 0 0 90px 90px;
	background: gray;
}

#pac {
	position: absolute;
	right: -5px;
	bottom: -5px;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-top: 10px solid gray;
	border-left: 10px solid gray;
	border-bottom: 10px solid gray;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transform: rotate(45deg);
	transition: .5s;
}
#pac:hover {
	transform: rotate(210deg);
	right: 0;
	bottom: 0;
	border-top: 10px solid yellow;
	border-left: 10px solid yellow;
	border-bottom: 10px solid yellow;
}

#vr {
	position: absolute;
	height: 96%; /* = 100% - ( 2 * top) */
	width: 2px;
	top: 2%;
	left: 50%;
	border-left: 2px solid #FFFFFF66;
	transition: .1s;
}

#notepad {
	right: 0;
	top: 0;
	height: 100%;
	width: 0px;
	position: fixed;
	transition: .4s;
}

#notepad p {
	color: white;
	position: absolute;
	text-align: center;
	width: 100%;
	padding-top: 25px;
	font-size: 24px;
	font-family: 'Ubuntu', sans-serif;
}

#notepad button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: inline-block;
  padding: 2px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4182C4;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #999;
}

#notepad button:hover {background-color: #1475B8}

#notepad button:active {
  background-color: #1475B8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#notepad textarea {
	text-align: left;
	padding-top: 75px;
	padding-left: 10px;
	padding-right: 500px;
	color: white;
	font-size: 16px;
	background-color: #343943;
	border: none;
	border-left: 3px solid #282C34;
	height: 100%;
	width: 95%;
}

/*---------------------------*/
/*     General KBD Style     */
/*---------------------------*/
kbd {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	-ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	-o-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	color: #333;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 1.4;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 #fff;
}

/*---------------------------*/
/*          Search          */
/*---------------------------*/
#search-text {
	text-indent: -9999px;
	line-height: 0;

	/* z-index: 10; */
	font-size: 4rem;
	color: var(--searchHeader);
	position: fixed;
	margin: 0;
	bottom: -10%;
	left: 5px;
	pointer-events: none;

	transition: .5s;
}
#search-text::after {
	text-indent: 0;
	display: block;
	line-height: initial;
	content: 'search:';
}
#search-field {
	z-index: 10;
	background-color: var(--searchBackground);
	border: 0;
	font-size: 4rem;
	color: var(--searchText);
	outline: none;
	text-align: center;
	position: fixed;
	margin: 0;
	width: 100%;
	height: 10%;
	bottom: -20%;
	left: 0;
	transition: .4s;
}
