@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#line {
    width: 100%;
    height: 3px;
    background: linear-gradient(
        135deg,
        rgba(143, 36, 237, 1) 20%,
        rgba(143, 36, 237, 1) 20%,
        rgba(143, 36, 237, 1) 22%,
        rgba(143, 36, 237, 1) 25%,
        rgba(16, 124, 179, 1) 100%
    );
    animation: line 1s ease forwards;
}
@keyframes line {
    from { margin-top: -13%; }
    to { margin-top: -2%; }
    from { height: 100%; }
    to { height: 100%; }
}

body {
    background: linear-gradient(
        135deg,
        rgba(143, 36, 237, 1) 20%,
        rgba(143, 36, 237, 1) 20%,
        rgba(143, 36, 237, 1) 22%,
        rgba(143, 36, 237, 1) 25%,
        rgba(16, 124, 179, 1) 100%
      );
    /* background-image: url("forest.jpg"); */
    margin: 0px;
}
body:hover {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: "Roboto Mono";
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Roboto Mono";
    color: #ffffff;
    margin-bottom: .25em;
    animation: clock 1s ease forwards;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #272727;
    border: solid 0px #272727;
    font-family: "Source Code Pro";
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: #272727;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #272727;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 25%;
    height: 10em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}
