:root {
    --bgColor: #333333;
    --gradientPrimary: #360033;
    --gradientSecondary: #0b8793;

    --shadowColor: #000000;
    --boxColor: #ffffff;
    --textColor: #222222;
    --urlHoverColor: #42cc88;
    --urlColor: #4288cc;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.bgimg {
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 105%;

    filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    transform: scale(1.03);
    /*margin: -5px -10px -10px -5px;*/
}

div.banner {
    top: 0;
    left: 0;
    width: 100%;
	height: 30%;

	background: var(--gradientPrimary);
    background: -webkit-linear-gradient(270deg, var(--gradientPrimary), var(--gradientSecondary));
    background: linear-gradient(270deg, var(--gradientPrimary), var(--gradientSecondary));
    background-size: 400% 400%;

    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%); /* top left, top right, bottom right, bottom left (x, y)*/
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
    display: block;
    position: absolute;
    z-index: 0;

    -webkit-animation: bannerGradientAnimation 15s ease infinite;
       -moz-animation: bannerGradientAnimation 15s ease infinite;
         -o-animation: bannerGradientAnimation 15s ease infinite;
            animation: bannerGradientAnimation 15s ease infinite;
}
@-webkit-keyframes bannerGradientAnimation {
   0%   { background-position: 0% 50%; }
   50%  { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
}
@-moz-keyframes bannerGradientAnimation {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@-o-keyframes bannerGradientAnimation {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes bannerGradientAnimation {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.box {
    position: absolute;
    display: block;
    width: 30%;
    height: 80%;
    padding: 20px;
    background-color: var(--boxColor);
    border-radius: 15px;
    -webkit-box-shadow:	0px 0px 8px -1px var(--shadowColor);
	   -moz-box-shadow: 0px 0px 8px -1px var(--shadowColor);
	    -ms-box-shadow:	0px 0px 8px -1px var(--shadowColor);
	     -o-box-shadow: 0px 0px 8px -1px var(--shadowColor);
	        box-shadow: 0px 0px 8px -1px var(--shadowColor);

    transition: 0.1s ease-in-out;
}
.slide {
    -webkit-animation: 1s ease-out slideInFromBottom;
       -moz-animation: 1s ease-out slideInFromBottom;
         -o-animation: 1s ease-out slideInFromBottom;
            animation: 1s ease-out slideInFromBottom;
}
@-webkit-keyframes slideInFromBottom {
    0%   { transform: translateY(250%); }
    100% { transform: translateY(0); }
}
@-moz-keyframes slideInFromBottom {
    0%   { transform: translateY(250%); }
    100% { transform: translateY(0); }
}
@-o-keyframes slideInFromBottom {
    0%   { transform: translateY(250%); }
    100% { transform: translateY(0); }
}
@keyframes slideInFromBottom {
    0%   { transform: translateY(250%); }
    100% { transform: translateY(0); }
}
@media only screen and (max-width: 1230px) {
    .box {
        width: 90%;
        height: 90%;
    }
}
@media only screen and (max-width: 920px) {
    .box {
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 0px;
    }
    .box p {
        padding-left: 15px;
    }
}

/*
    MARKUP
*/
.box * {
    color: var(--textColor);
    font-family: Ubuntu, sans-serif;
}
.box h1 {
    text-align: center;
    font-weight: bolder;
}
.box h2, .box h3, .box h4, .box h5, .box h6 {
    text-align: left;
    font-weight: bold;
}
.box p {
    text-align: left;
    font-size: 1.1em;
}
.box a, .box a:link, .box a:visited, .box a:active {
    text-align: left;
    text-decoration: none;
    color: var(--urlColor);

    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, var(--gradientPrimary), var(--gradientSecondary));
  	background-repeat: no-repeat;
	background-position: 0 18px;
    background-size: 100%;

    transition: 0.4s;
}
.box a:hover {
    color: var(--urlHoverColor);
}
.box sub {
    font-style: italic;
}

.tabs {
    visibility: hidden; /* temporarily disabled */
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;

    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%); /* top left, top right, bottom right, bottom left (x, y)*/
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
    display: block;
    position: absolute;
    z-index: 0;
}
.tab {
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 3px;
    left: 10px;
    border-radius: 5px 5px 0 0;
    border-color: rgb(20,20,20);
    border-bottom: none;
    background-color: rgba(50,50,50,0.8);
    color: #fff;
    transform: rotate(-3.4deg);
    border-width: 2px;
}
