:root {
    --t_black: rgb(0, 0, 0);
    --t_red: rgb(128, 0, 0);
    --t_green: rgb(0, 128, 0);
    --t_yellow: rgb(221, 210, 130);
    --t_blue: rgb(0, 0, 128);
    --t_magenta: rgb(128, 0, 128);
    --t_cyan: rgb(0, 128, 128);
    --t_white: rgb(192, 192, 192);
    --t_gray: rgb(128, 128, 128); /* because bright black doesn't exist */
    --t_brightRed: rgb(255, 0, 0);
    --t_brightGreen: rgb(0, 255, 0);
    --t_brightYellow: rgb(255, 255, 0);
    --t_brightBlue: rgb(0, 0, 255);
    --t_brightMagenta: rgb(255, 0, 255);
    --t_brightCyan: rgb(0, 255, 255);
    --t_brightWhite: rgb(255, 255, 255);
    --t_reset: rgb(192, 192, 192);

    --c_transparent: #00000000;
    --c_prefix: #CA8AF7;

    --c_shadow: #000000aa;

    --c_bgcolor: rgb(15, 20, 17);
    --c_fgcolor: rgb(20, 43, 40);
    --font: 'Monaco', 'Ubuntu Mono', Mono, sans-serif;
    --prefix: '» ';
            /*'❯';*/
}
.t_black         { color: var(--t_black); }
.t_red           { color: var(--t_red); }
.t_green         { color: var(--t_green); }
.t_yellow        { color: var(--t_yellow); }
.t_blue          { color: var(--t_blue); }
.t_magenta       { color: var(--t_magenta); }
.t_cyan          { color: var(--t_cyan); }
.t_white         { color: var(--t_white); }
.t_gray          { color: var(--t_gray); }
.t_brightRed     { color: var(--t_brightRed); }
.t_brightGreen   { color: var(--t_brightGreen); }
.t_brightYellow  { color: var(--t_brightYellow); }
.t_brightBlue    { color: var(--t_brightBlue); }
.t_brightMagenta { color: var(--t_brightMagenta); }
.t_brightCyan    { color: var(--t_brightCyan); }
.t_brightWhite   { color: var(--t_brightWhite); }
.t_reset         { color: var(--t_reset); }
.c_prefix        { color: var(--c_prefix); }
.c_transparent   { color: var(--c_transparent); }

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    font-family: var(--font);

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
#bgblur {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left top, #1B3D29, #133337, #1B3D29);
	background: -o-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
	background: -moz-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
	background: linear-gradient(to bottom right, #1B3D29, #133337, #1B3D29);
    /*background-color: var(--c_bgcolor);
    filter: grayscale(50%);*/
}

#terminal {
    width: 40%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;

    padding: 6px;
    margin: 0;
    font-family: var(--font);
    color: var(--t_white);
    background-color: var(--c_bgcolor);
    border: 0.4rem solid var(--c_fgcolor);
    -webkit-box-shadow:	0px 0px 8px -1px var(--c_shadow);
	   -moz-box-shadow: 0px 0px 8px -1px var(--c_shadow);
	    -ms-box-shadow:	0px 0px 8px -1px var(--c_shadow);
	     -o-box-shadow: 0px 0px 8px -1px var(--c_shadow);
	        box-shadow: 0px 0px 8px -1px var(--c_shadow);
}

#stdout {
    font-size: 1rem;
    font-family: var(--font);

    float: inherit;
    overflow: hidden;
}
#stdout p {
    padding: 0;
    margin: 0;
    display: inline;
}
#stdout a, #stdout a:link, #stdout a:visited, #stdout a:active {
    color: inherit;
    outline: none;
}


span.stdin {
    font-size: 1rem;
    font-family: var(--font);

    padding-bottom: 3px;

    color: var(--c_prefix);
    line-height: 1rem;
    height: 1rem;
    background-color: var(--c_transparent);
    border: var(--c_transparent);
}

span.stdin input {
    font-size: 1rem;
    font-family: var(--font);

    outline: 0;
    border: 0px;
    width: 95%;
    color: var(--t_brightWhite);
    background-color: var(--c_transparent);
}
