:root {
	--bgcolor: #000;
	--textcolor: #fff;
    --font: 'Monaco', 'Ubuntu Mono', Mono, sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

	font-size: 1rem;
	font-family: var(--font);
}

#input-field {
	padding: 0;
	margin: 0;
	height: 2%;
	width: 100%;
	font-size: 1rem;
	font-family: var(--font);
	border: none;
}
#input-field::before {
	content: 's/';
}

#output-field {
	padding: 0;
	margin: 0;
	height: 98%;
	width: 100%;
	background: var(--bgcolor);
	color: var(--textcolor);
	font-size: 1rem;
	font-family: var(--font);
}
