:root {
	--bgcolor: #12171B;
	--linecolor: rgba(32, 35, 41, 0.356);
	--bordercolor: #898989;
}
/* http://www.css3.info/preview/rounded-border/ */
/* https://goo.gl/QKi8YG <--- terminal visuals*/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(20, 43, 40);
	/*background-color: rgb(15, 20, 17);
	box-shadow: 0 0 0 10px rgb(20, 43, 40) inset;*/
}

ul {
	z-index: 2;
	color: white;
	position: absolute;
	margin: 30px 20px 30px 20px;
}

#inputPlaceholder {
	margin: 5px;
	width: 99%;
	height: 98%;
	background-color: rgb(15, 20, 17);
}



#bgblur {
	visibility: hidden;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0000008e;
}

#overlay {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	/*background: repeating-linear-gradient(
		0deg,
		#24242450 1px,
		#00000000 1px,
		#00000000 10px,
		#00000000 14px,
		#24242450 17px
	);
	*/
}





#allfiles {
	visibility: hidden;
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
}
#allfiles ul {
	color: beige;
	list-style: none;
	font-family: "Courier";
	font-size: 25px;
	font-weight: 500;
	width: 100%;
	line-height: 35px;
	margin: 35px 10px 0 10px;
	white-space: pre-wrap;
	width: 90%;
}
#allfiles li {
	cursor: pointer;
}





main {
	display: flex;
}

#scratchpad {
	z-index: 2;
	overflow: auto;
	visibility: hidden;
	width: 40%;
	height: 80%;
	background: var(--bgcolor);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-top-left-radius: 0.4% 70%;
	border-bottom-left-radius: 0.4% 70%;
	border-top-right-radius: 0.4% 70%;
	border-bottom-right-radius: 0.4% 70%;
	border-top: 3px solid var(--bordercolor);
	border-bottom: 3px solid var(--bordercolor);
	border-left: 4px solid var(--bordercolor);
	border-right: 4px solid var(--bordercolor);
}

#scratchpad ul {
	color: beige;
	list-style: none;
	font-family: "Courier";
	font-size: 28px;
	font-weight: 500;
	width: 100%;
	line-height: 30px;
	margin: 35px 10px 0 10px;
	white-space: pre-wrap;
	width: 90%;
	animation: type 2s steps(60, end);
}

#button {
	text-indent: -9999px;
	line-height: 0;

	z-index: 2;
	visibility: hidden;
	width: 40%;
	height: 3%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bgcolor);
	position: fixed;
	left: 50%;
	bottom: 3%;
	transform: translate(-50%, -50%);

	border: 3px solid var(--bordercolor);
}
#button::after {
	text-indent: initial;
	line-height: 1;
	display: block;
	content: "Close";
}
#button:hover {
	cursor: pointer;
	border: 3px solid #7c7c7cc9;
}
